@import '@/styles/mixins';

@keyframes container-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container {
  @include full-relative;
  display: block;

  &.animate {
    animation: 1000ms container-appear $ease-out-expo forwards;
    opacity: 0;
  }

  @media only screen and (min-width: 768px) {
    @include glass-background;
  }
}

.content {
  @include full-w-relative;

  @media only screen and (min-width: 768px) {
    background: white;
    border-radius: 16px;
    border: 1px solid #edf2f5;
    @include container-shadow;
  }
}

.basicPadding {
  @media only screen and (min-width: 768px) {
    padding: 8px;
    padding-bottom: 24px;
  }
}
