@import '@/styles/mixins';

.card {
  background-color: var(--color-static-white);
  border: 1px solid var(--colors-grey-light, #edeff3);
  border-radius: 16px;
  overflow: hidden;
  color: var(--color-static-black);

  position: relative;
  transition: all 0.3s $ease-out-cubic;
  box-shadow: 0px 0px 0px 0px #d5f3ff;
}

.cardHeader {
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  border-bottom: 1px solid var(--colors-grey-light, #edeff3);
  @include full-w-relative;

  &.gradient {
    background: linear-gradient(180deg, #e8eeef 0%, #feffff 100%);
    padding: 0;
    border-bottom: none;
    min-height: 240px;

    &.headerBG {
      @include full-absolute;
    }
  }
}

.cardTitle {
  padding-bottom: 16px;
}

.cardDescription {
  color: var(--color-grey-base);
  padding-bottom: 16px;
}

.cardContent {
  padding: 1.5rem;
}

.cardFooter {
  display: flex;
  padding: 1.5rem;
  padding-top: 0;
  align-items: center;
}
