@import '@/styles/mixins';

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@mixin fade-in($duration: 500ms) {
  animation: $duration fade-in $ease-out-cubic forwards;
  opacity: 0;
}

@keyframes fade-up {
  0% {
    transform: translate3d(0, 16px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@mixin fade-up($duration: 500ms) {
  animation: $duration fade-up $ease-out-cubic forwards;
  transform: translate3d(0, 48px, 0);
  opacity: 0;
}

@keyframes fade-up-slight {
  0% {
    transform: translate3d(0, 4px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@mixin fade-up-slight($duration: 500ms) {
  animation: $duration fade-up-slight $ease-out-cubic forwards;
  transform: translate3d(0, 4px, 0);
  opacity: 0;
}

@keyframes fade-up-more {
  0% {
    transform: translate3d(0, 48px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@mixin fade-up-more($duration: 500ms) {
  animation: $duration fade-up-more $ease-out-cubic forwards;
  transform: translate3d(0, 48px, 0);
  opacity: 0;
}

@keyframes fade-down {
  0% {
    transform: translate3d(0, -16px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@mixin fade-down($duration: 500ms) {
  animation: $duration fade-down $ease-out-cubic forwards;
  transform: translate3d(0, -16px, 0);
  opacity: 0;
}

@keyframes fade-down-slight {
  0% {
    transform: translate3d(0, -4px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@mixin fade-down-slight($duration: 500ms) {
  animation: $duration fade-down-slight $ease-out-cubic forwards;
  transform: translate3d(0, -4px, 0);
  opacity: 0;
}

@keyframes fade-from-left {
  0% {
    transform: translate3d(-16px, 0, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@mixin fade-from-left($duration: 500ms) {
  animation: $duration fade-from-left $ease-out-cubic forwards;
  transform: translate3d(-16px, 0, 0);
  opacity: 0;
}

@keyframes fade-from-right {
  0% {
    transform: translate3d(16px, 0, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@mixin fade-from-right($duration: 500ms) {
  animation: $duration fade-from-right $ease-out-cubic forwards;
  transform: translate3d(16px, 0, 0);
  opacity: 0;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@mixin spin($duration: 1000ms) {
  animation: spin $duration linear infinite;
  transform: rotate(0deg);
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0px);
  }
}

@mixin float($duration: 6000ms) {
  animation: float $duration ease-in-out infinite;
  transform: translateY(0);
}

@keyframes twinkle {
  0% {
    opacity: 1;
  }
  15% {
    opacity: 0.9;
  }
  25% {
    opacity: 0.7;
  }
  35% {
    opacity: 0.6;
  }
  45% {
    opacity: 0.8;
  }
  60% {
    opacity: 1;
  }
  75% {
    opacity: 0.85;
  }
  85% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@mixin twinkle($duration: 10000ms) {
  animation: twinkle $duration linear infinite;
  opacity: 1;
}
