@import '@/styles/mixins';

/* // fonts // */

@font-face {
  font-family: 'Roobert';
  src: url('/assets/fonts/Roobert-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Roobert';
  src: url('/assets/fonts/Roobert-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Roobert';
  src: url('/assets/fonts/Roobert-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Roobert';
  src: url('/assets/fonts/Roobert-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Roobert';
  src: url('/assets/fonts/Roobert-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Roobert';
  src: url('/assets/fonts/Roobert-Heavy.ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'AvenueMono';
  src: url('/assets/fonts/AvenueMono.ttf');
  font-weight: 400;
}

/* font-feature-settings: 'ss11' on, 'cv09' on, 'liga' off, 'calt' off; */

.footnote-3,
.m\:footnote-3 {
  font-family: 'Roobert';
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0;
  font-weight: 400;

  @include font-bp('lg') {
    font-family: 'Roobert';
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0;
    font-weight: 400;
  }

  @include font-bp('xl6') {
    // font-size: pixels-to-vw(12px, 'xl6');
  }
}

.footnote-2,
.m\:footnote-2 {
  font-family: 'Roobert';
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0;
  font-weight: 400;

  @include font-bp('lg') {
    font-family: 'Roobert';
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0;
    font-weight: 400;
  }

  @include font-bp('xl6') {
    // font-size: pixels-to-vw(13px, 'xl6');
  }
}

.footnote-1,
.m\:footnote-1 {
  font-family: 'Roobert';
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0;
  font-weight: 400;

  @include font-bp('lg') {
    font-family: 'Roobert';
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0;
    font-weight: 400;
  }

  @include font-bp('xl6') {
    // font-size: pixels-to-vw(14px, 'xl6');
  }
}

.b4,
.m\:b4 {
  font-family: 'Roobert';
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.01em;
  font-weight: 400;

  @include font-bp('lg') {
    font-family: 'Roobert';
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.01em;
    font-weight: 400;
  }

  @include font-bp('xl6') {
    // font-size: pixels-to-vw(15px, 'xl6');
  }
}
.b3,
.m\:b3 {
  font-family: 'Roobert';
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.01em;
  font-weight: 400;

  @include font-bp('lg') {
    font-family: 'Roobert';
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01em;
    font-weight: 400;
  }

  @include font-bp('xl5') {
    // font-size: pixels-to-vw(16px, 'xl5');
  }

  @include font-bp('xl6') {
    // font-size: pixels-to-vw(18px, 'xl6');
  }
}
.b2 {
  font-family: 'Roobert';
  font-size: 15px;
  line-height: 1.46666667;
  letter-spacing: -0.01em;
  font-weight: 400;

  @include font-bp('lg') {
    font-family: 'Roobert';
    font-size: 15px;
    line-height: 1.46666667;
    letter-spacing: -0.01em;
    font-weight: 400;
  }

  @include font-bp('xl5') {
    // font-size: pixels-to-vw(18px, 'xl5');
  }

  @include font-bp('xl6') {
    // font-size: pixels-to-vw(22px, 'xl6');
  }
}

.b1,
.m\:b1 {
  font-family: 'Roobert';
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  font-weight: 400;

  @include font-bp('lg') {
    font-family: 'Roobert';
    font-size: 16px;
    letter-spacing: -0.01em;
    font-weight: 400;
  }

  @include font-bp('xl5') {
    font-family: 'Roobert';
    // font-size: pixels-to-vw(20px, 'xl5');
  }

  @include font-bp('xl6') {
    font-family: 'Roobert';
    // font-size: pixels-to-vw(25px, 'xl6');
  }
}

.headline1,
.m\:headline1 {
  font-family: 'Roobert';
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.02em;
  font-weight: 400;

  @include font-bp('lg') {
    font-family: 'Roobert';
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.02em;
    font-weight: 400;
  }

  @include font-bp('xl5') {
    font-size: 22px;
  }
  @include font-bp('xl6') {
    // font-size: pixels-to-vw(24px, 'xl6');
  }
}

.h4,
.m\:h4 {
  font-family: 'Roobert';
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.01em;
  font-weight: 400;

  @include font-bp('lg') {
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: -0.01em;
    font-weight: 400;
  }

  @include font-bp('xl5') {
    font-size: 24px;
  }

  @include font-bp('xl6') {
    // font-size: pixels-to-vw(28px, 'xl6');
  }
}
.h3,
.m\:h3 {
  font-family: 'Roobert';
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  font-weight: 400;

  @include font-bp('lg') {
    font-size: 24px;
    line-height: 1.333;
  }

  @include font-bp('xl5') {
    // font-size: pixels-to-vw(28px, 'xl5');
  }

  @include font-bp('xl6') {
    // font-size: pixels-to-vw(40px, 'xl6');
  }
}
.h2,
.m\:h2 {
  font-family: 'Roobert';
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.01em;
  font-weight: 400;

  @include font-bp('lg') {
    font-family: 'Roobert';
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.01em;
    font-weight: 400;
  }

  @include font-bp('xl5') {
    // font-size: pixels-to-vw(40px, 'xl5');
  }

  @include font-bp('xl6') {
    // font-size: pixels-to-vw(48px, 'xl6');
  }
}

.h1,
.m\:h1 {
  font-family: 'Roobert';
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.01em;
  font-weight: 400;

  @include font-bp('md') {
    font-family: 'Roobert';
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.01em;
    font-weight: 400;
  }

  @include font-bp('xl4') {
    font-size: 52px;
    line-height: 65px;
  }

  @include font-bp('xl5') {
    font-size: 64px;
    line-height: 80px;
  }
}

.font-testing {
  font-size: 10px;

  @include font-bp('sm') {
    font-size: 15px;
  }
}

.font-testing2 {
  font-size: 12px;

  @include font-bp('sm') {
    font-size: 18px;
  }
}

@include font-bp2('heading', 'sm') {
  // @extend .font-testing2;
  color: blue;
  // color: red;
  // font-size: 22px;
}

.font-medium {
  font-weight: 500;
}
