@import '@/styles/mixins';

:root {
  --color-black: #000000;
  --color-aquamarine: #36f197;
  --color-green: #00de73;
  --color-green-rgba: rgba(0, 222, 115, 1);
  --color-dark-green: #05472a;
  --color-blue: #09b5ff;
  --cubic-easing: cubic-bezier(0.215, 0.61, 0.355, 1);

  --color-black-10: #fbfbfb;
  --color-black-20: #e8e8e9;
  --color-black-30: #d0d1d3;
  --color-black-40: #a7a7a7;
  --color-black-50: #555555;

  --color-tint-black-400: rgba(24, 24, 24, 0.4);
  --color-tint-black-700: rgba(24, 24, 24, 0.7);

  --color-tint-white-800: rgba(255, 255, 255, 0.8);

  /* todo: remove/replace */
  --color-mono-10: #edeff3;
  --color-mono-20: #d8dfe9;
  --color-mono-30: #9da3ac;

  /* -------------------------------------- */
  /* Portal ABS:ABS                         */

  --color-green-primary: #19e783;
  --color-blue-secondary: #3eceff;
  --color-navy-highlighted: #0e393c;
  --color-background: #f9f8f5;

  /* static */
  --color-static-black: #181818;
  --color-static-white: #ffffff;

  /* grey */
  --color-grey-base: #9da3ac;
  --color-grey-light: #edeff3;

  /* tier */
  --color-tier-gold: #d7ba6e;
  --color-tier-silver: #b7bbc1;
  --color-tier-bronze: #ab6c4e;
  --color-tier-gold-rgb: rgb(215, 186, 110);
  --color-tier-silver-rgb: rgb(183, 187, 193);
  --color-tier-bronze-rgb: rgb(171, 108, 78);

  /* status */
  --color-ux-success: #32d77e;
  --color-ux-warning: #ffbd5a;
  --color-ux-error: #ff2828;

  /* Gradients */
  --gradient-blue-horizontal: linear-gradient(90deg, #3eceff 0%, #a7e9ff 100%);
  --gradient-blue-vertical: linear-gradient(
    145deg,
    #b9eeff 4.1%,
    #0fcaff 97.14%
  );
  --gradient-base-accent: linear-gradient(
    135deg,
    #22d6ff 13.54%,
    #9fedff 53.43%,
    #3cff73 78.55%
  );
  --gradients-base-accent-light: linear-gradient(
    135deg,
    #00cfff 7.24%,
    #00ff47 94.79%
  );
  --gradients-grey-base: linear-gradient(180deg, #dcdee1 0%, #eaebed 100%);
  --gradients-other-highlated-tab: linear-gradient(
    90deg,
    #f5f8ff 0%,
    #fcfdff 100%
  );
  --gradients-other-blackout: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.6) 100%
  );
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  position: relative;
  font-size: 16px;
  font-family: 'Roobert';
}

// @media (min-width: 1440px) {
//   html {
//     font-size: 125%; /* 18px */
//   }
// }
// @media (min-width: 2000px) {
//   html {
//     font-size: 150%; /* 20px */
//   }
// }

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

ul,
ol,
li {
  list-style-type: none;
}

button {
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
}

button:hover .up-and-down {
  animation: upDown 1s $ease-in-out-cubic infinite;
}

@keyframes upDown {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-2px);
  }
}
.grey {
  color: var(--color-grey-base);
  // --color-grey-base: #9da3ac;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

// No scrollbars
html {
  &,
  * {
    scrollbar-width: none !important;
    -ms-overflow-style: none !important;

    &::-webkit-scrollbar {
      width: 0 !important;
      height: 0 !important;
    }
  }
}
