@import '@/styles/mixins';

.html {
  height: 100%;
}

.body {
  height: 100%;
  position: relative;
  background: white;
  color: var(--color-static-black);
  background-image: url('/assets/images/body-bg.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main {
  min-height: 740px;
  flex-direction: column;
  display: flex;
  padding-top: 60px;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  justify-content: center;
  min-height: 100%;
}

.wrapper {
  @include bp-768 {
    width: 100%;
    max-width: 400px;
    margin: 2.5rem auto 0;
  }
}

.loginWrapper {
  @include bp-768 {
    width: 100%;
    max-width: 540px;
    margin: 0 auto;
  }
}

.content {
  text-align: center;
}

.notFoundBadge {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer {
  justify-content: center;
}

.footerButton {
  width: 100%;
}
